@page "/"

<h1>Style QuickGrid rows based on row values</h1>

<p>In .NET 10 it will be possible to set the CSS class for rows dynamically in QuickGrid.</p>
<p>If you are at .NET 7, 8 or 9, and need this functionality, this application shows how to do just that.</p>
<p>To see the implementation details, take a look at the source code for the Weather Razor component.</p>
<p>Have fun!</p>
